@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}
/*:root{
    --font01: ;
    --font02: ;

    --cor01: white;
    --cor02: black;
}*/

html, body{
    height: 90vh;
    width: 90vw;
}
body{
    background: url(imagens/fundo-madeira.jpg) no-repeat top center ;
    background-size: cover;
    background-attachment: fixed;
}
main{
    position: relative;
    height: 100vh;
    padding: 10px;
}

section#telefone{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: url(imagens/frame-iphone.png) no-repeat;
    height: 627px;
    width: 311px;
    
}
section#redesociais > a > img{
    width: 50px;
    height: 50px;
    padding: 2px;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.582);
    box-sizing: border-box;
}
section#redesociais{
    text-align: right;
}
section#redesociais > a img:hover{
    border: 1px solid rgba(255, 255, 255, 0.774);
    transform: translate(-3px, -3px);
    transition: transform .5s;
}

iframe#tela{
    position: relative;
    top: 80px;
    left: 23px;
    width: 267px;
    height: 471px;
}